*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: aqua; */
}
body{
    background-color: deepskyblue;
}
.lbody{
    background-color: deeppink;
}
.forms{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}
.formRow{
    display: flex;
    justify-content: center;
}
.sRow h1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
a:hover{
    color:aliceblue;
}
